@model IEnumerable<HospitalManagementSystem.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Service</th>
            <th>Submitted By</th>
            <th>Report Date</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@item.Patient.Name</td>
                <td>@item.Service.Name</td>
                <td>@item.SubmittedBy</td>
                <td>@item.ReportDate.ToString("MM/dd/yyyy")</td>
                <td>@item.Summary</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
